.whole {
	font-size: 30;
	line-height: 1;
	max-width: 60em;
  	font-family: Georgia, serif;
  	padding: 3em;
  	margin: 0 auto;
	}
  
  
  
.wrapper {
	width: 44%;
	padding: 1em;
	display: inline-block;
	vertical-align: top;
	}
	
.nav a {
	text-decoration: none;
	color: black;
	letter-spacing: .3em;
	background-color: 
	}
	
.nav a:hover {
	color: #c99;
	}

.title {
	padding-top: .2em;
	font-size: 12.5em;
	letter-spacing: 10px;
	}
	
.sectiontitle {
	font-size: 1.5em;
	padding-top: 2em;
	}
	
.underline {
	font-size: 1em;
	padding-bottom: 2em;
	color: #c99;
	}

.characters {
	word-wrap: break-word;
	text-align: justify;
	max-width: 16.2em;
	font-size: 1.375em;
	letter-spacing: .5em;
	line-height: 1.4;
	}
	
.style1 {
	font-style: regular;
	font-size: 3em;
	line-height: 1.2;
	}

.style2 {
	font-style: italic;
	font-size: 3em;
	line-height: 1.2;
	}
	
.style3 {
	font-size: 3em;
	line-height: 1.2em;
	font-weight: bold;
	}
		
.style4 {
	font-style: italic;
	font-weight: bold;
	font-size: 3em;
	line-height: 1.2;
	}
	
.designer {
	line-height: 1.4;
	}
	
.glyphs {
	font-size: 12em;
	padding-top: 50px;
	padding-bottom: .3em;
	color: #c99
	}
	
input {
    padding-left: 1em;
    padding-bottom: 5em;
    width: 100%;
    padding-top: 10px;
    font-family: Georgia;
    font-size: 1em;
	}

	input:focus,
	input:active {
  	outline: none;
	}

	
.about {
	line-height: 1.4;
	padding-left: 500;
	}
	

	
	
	
	
	