.whole {
	font-size: 30;
	line-height: 1;
	max-width: 60em;
  	font-family: Georgia, serif;
  	padding: 3em;
  	margin: 0 auto;
	}
  
.title {
	padding-top: .5em;
	font-size: 12.5em;
	letter-spacing: 10px;
	}
	
.sectiontitle {
	font-size: 1.5em;
	padding-top: 2em;
	}
	
.underline {
	font-size: 1em;
	padding-bottom: 2em;
	}


.characters {
	word-wrap: break-word;
	text-align: justify;
	max-width: 16.2em;
	font-size: 1.375em;
	letter-spacing: .5em;
	line-height: 1.4;
	}
	
.style1 {
	font-style: regular;
	font-size: 3em;
	line-height: 1.2;
	}

.style2 {
	font-style: italic;
	font-size: 3em;
	line-height: 1.2;
	}
	
.style3 {
	font-size: 3em;
	line-height: 1.2;
	}
		
.style4 {
	font-style: italic;
	font-size: 3em;
	line-height: 1.2;
	}