.whole {
	font-size: 30;
	line-height: 1;
	max-width: 60em;
  	font-family: Georgia, serif;
  	padding: 3em;
  	margin: 0 auto;
	}
  
.wrapper {
	width: 44%;
	display: inline-block;
	vertical-align: top;
	}
	
	  
.title {
	padding-top: .2em;
	font-size: 12.5em;
	letter-spacing: 10px;
	}
	
.sectiontitle {
	font-size: 1.5em;
	padding-top: 2em;
	}
	
.underline {
	font-size: 1em;
	padding-bottom: 2em;
	color: #c99;
	}

.characters {
	word-wrap: break-word;
	text-align: justify;
	max-width: 16.2em;
	font-size: 1.375em;
	letter-spacing: .5em;
	line-height: 1.4;
	}
	
.style1 {
	font-style: regular;
	font-size: 3em;
	line-height: 1.2;
	}

.style2 {
	font-style: italic;
	font-size: 3em;
	line-height: 1.2;
	}
	
.style3 {
	font-size: 3em;
	line-height: 1.2em;
	font-weight: bold;
	}
		
.style4 {
	font-style: italic;
	font-weight: bold;
	font-size: 3em;
	line-height: 1.2;
	}
	
.glyphs {
	font-size: 12em;
	padding-top: 50px;
	color: #c99
	}
	
.input {
        border: none;   /* This removes the default border from around an input */
        caret-color: transparent;   /* This removes the blinking cursor when you're typing */
        
        /* Everything below here you can edit */
        font-size: 30px;
        font-family: Times New Roman; /* You'll want to change this to your font */
        background: #dadada;
        padding: 10px;
    }
    


<!-- This input gives you a place to type in text which you can change to your font. -->
	
.about {
	line-height: 1.4;
	padding-left: 500;
	}
	
	
	
	
	
	
	